:host {
  display: block;
  font-family: monospace;

  /* default light theme */
  --color-bg: #fff;
  --color-border: #333;
  --color-text: #333;
  --color-dropdown-bg: #fff;
  --color-dropdown-text: #333;
  --color-dropdown-hover-bg: #333;
  --color-dropdown-hover-text: #fff;
  --color-option-hover-bg: #ddd;
  --color-option-selected-text: rgb(55, 55, 200);

  /* default md */
  --dropdown-width: 200px;
  --dropdown-font-size: 12px;
  --dropdown-padding: 8px 12px;

  --dropdown-filter-padding: 8px;
  --dropdown-filter-input-padding: 4px 2px;

  --dropdown-selected-font-size: 14px;
  --dropdown-option-padding: 10px 12px;
}

/* dark theme */
:host([data-theme='dark']) {
  --color-bg: #1a1a1a;
  --color-border: #666666;
  --color-text: #f0f0f0;
  --color-dropdown-bg: #1a1a1a;
  --color-dropdown-text: #f0f0f0;
  --color-dropdown-hover-bg: #f0f0f0;
  --color-dropdown-hover-text: #1a1a1a;
  --color-option-hover-bg: #333333;
  --color-option-selected-text: rgb(130, 130, 230);
}

.dropdown.sm {
  --dropdown-width: 150px;
  --dropdown-font-size: 11px;
  --dropdown-padding: 6px 10px;

  --dropdown-filter-padding: 6px;
  --dropdown-filter-input-padding: 3px 2px;

  --dropdown-selected-font-size: 12px;
  --dropdown-option-padding: 8px 10px;
}
.dropdown.md {
  --dropdown-width: 200px;
  --dropdown-font-size: 12px;
  --dropdown-padding: 8px 12px;

  --dropdown-filter-padding: 8px;
  --dropdown-filter-input-padding: 4px 2px;

  --dropdown-selected-font-size: 14px;
  --dropdown-option-padding: 10px 12px;
}
.dropdown.lg {
  --dropdown-width: 300px;
  --dropdown-font-size: 14px;
  --dropdown-padding: 12px 16px;

  --dropdown-filter-padding: 10px;
  --dropdown-filter-input-padding: 8px 2px;

  --dropdown-selected-font-size: 16px;
  --dropdown-option-padding: 10px 14px;
}

.dropdown {
  position: relative;
}

.dropdown_label {
  font-size: var(--dropdown-font-size);
  color: var(--color-dropdown-text);
  font-weight: 700;
  margin-bottom: 4px;
}

.dropdown_trigger {
  font-family: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--dropdown-width);
  padding: var(--dropdown-padding);
  font-size: var(--dropdown-font-size);
  background: var(--color-dropdown-bg);
  color: var(--color-dropdown-text);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  overflow: hidden;
  white-space: nowrap;
}

.dropdown_trigger span:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  text-align: left;
  padding-right: 8px;
}

.dropdown_trigger:hover {
  background: var(--color-dropdown-hover-bg);
  color: var(--color-dropdown-hover-text);
}

.dropdown_container {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  background: var(--color-dropdown-bg);
  color: var(--color-dropdown-text);
  border: 1px solid var(--color-border);
  width: var(--dropdown-width);
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdown_options {
  max-height: 200px;
  overflow-y: auto;
}

.dropdown_no-results {
  font-size: var(--dropdown-font-size);
  padding: var(--dropdown-option-padding);
  font-weight: 600;
  color: red;
}

.filter {
  background: var(--color-dropdown-bg);
  color: var(--color-dropdown-text);
  padding: var(--dropdown-filter-padding);
  display: flex;
  flex-direction: column;
  font-size: var(--dropdown-font-size);
  gap: 2px;
  border-bottom: var(--color-border) solid 1px;
}

.filter_input {
  background: var(--color-dropdown-bg);
  color: var(--color-dropdown-text);
  padding: var(--dropdown-filter-input-padding);
  font-family: inherit;
  font-size: var(--dropdown-font-size);
  border: none;
  border-bottom: var(--color-border) solid 1px;
  outline: none;
}
