:host {
  display: block;
  font-family: monospace;

  --dropdown-width: 200px;
  --dropdown-font-size: 12px;
  --dropdown-padding: 8px 12px;

  --dropdown-filter-padding: 8px;
  --dropdown-filter-input-padding: 4px 2px;

  --dropdown-selected-font-size: 14px;
  --dropdown-option-padding: 10px 12px;
}

.dropdown.sm {
  --dropdown-width: 150px;
  --dropdown-font-size: 11px;
  --dropdown-padding: 6px 10px;

  --dropdown-filter-padding: 6px;
  --dropdown-filter-input-padding: 3px 2px;

  --dropdown-selected-font-size: 12px;
  --dropdown-option-padding: 8px 10px;
}
.dropdown.md {
  --dropdown-width: 200px;
  --dropdown-font-size: 12px;
  --dropdown-padding: 8px 12px;

  --dropdown-filter-padding: 8px;
  --dropdown-filter-input-padding: 4px 2px;

  --dropdown-selected-font-size: 14px;
  --dropdown-option-padding: 10px 12px;
}
.dropdown.lg {
  --dropdown-width: 300px;
  --dropdown-font-size: 14px;
  --dropdown-padding: 12px 16px;

  --dropdown-filter-padding: 10px;
  --dropdown-filter-input-padding: 8px 2px;

  --dropdown-selected-font-size: 16px;
  --dropdown-option-padding: 10px 14px;
}

.dropdown {
  position: relative;
}

.dropdown_label {
  font-size: var(--dropdown-font-size);
  font-weight: 700;
  margin-bottom: 4px;
}

.dropdown_trigger {
  font-family: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--dropdown-width);
  padding: var(--dropdown-padding);
  font-size: var(--dropdown-font-size);
  border: 1px solid #333;
  border-radius: 4px;
  overflow: hidden;
  white-space: nowrap;
}

.dropdown_trigger span:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  text-align: left;
  padding-right: 8px;
}

.dropdown_trigger:hover {
  background: #333;
  color: #fff;
}

.dropdown_container {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #000;
  width: var(--dropdown-width);
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdown_options {
  max-height: 200px;
  overflow-y: auto;
}

.dropdown_no-results {
  font-size: var(--dropdown-font-size);
  padding: var(--dropdown-padding);
  font-weight: 600;
  color: red;
}

.filter {
  padding: var(--dropdown-filter-padding);
  display: flex;
  flex-direction: column;
  font-size: var(--dropdown-font-size);
  gap: 2px;
  border-bottom: #333 solid 1px;
}

.filter_input {
  padding: var(--dropdown-filter-input-padding);
  font-family: inherit;
  font-size: var(--dropdown-font-size);
  border: none;
  border-bottom: #333 solid 1px;
  outline: none;
}
