.option {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--color-dropdown-bg);
  color: var(--color-dropdown-text);
  padding: var(--dropdown-option-padding);
  font-size: var(--dropdown-font-size);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.option:hover {
  background: var(--color-option-hover-bg);
}

:host([aria-current]) .option {
  border-left: var(--color-border) solid 4px;
}

.option--selected {
  font-size: var(--dropdown-selected-font-size);
  color: var(--color-option-selected-text);
  font-weight: 700;
}
