.option {
  cursor: pointer;
  align-items: center;
  gap: 8px;
  padding: 12px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.option:hover {
  background: #ddd;
}

:host([aria-current]) .option {
  border-left: #333 solid 4px;
}

.option--selected {
  font-size: 14px;
  font-weight: 700;
}
