.option {
  cursor: pointer;
  align-items: center;
  gap: 8px;
  padding: var(--dropdown-option-padding);
  font-size: var(--dropdown-font-size);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.option:hover {
  background: #ddd;
}

:host([aria-current]) .option {
  border-left: #333 solid 4px;
}

.option--selected {
  font-size: var(--dropdown-selected-font-size);
  color: blue;
  font-weight: 700;
}
